.txtTitle, .txtCurrentTemp, .txtTitle2 {
    padding: 15px;
}

* {
    box-sizing: border-box;
}
body {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(134,0,255,1) 100%);
    font-family: Arial, sans-serif;
    color: #fff;
}

.boxForm {
    display: none;
}

.getCities {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.citylist, .districtlist, #btnWeather, .uflist {
    display: none;
}

.btnWeather {
    padding: 30px;
    line-height: 1.5;
}
.boxFormCities {
    margin-bottom: 25px;
}

.boxFormCities input {
    margin-top: 15px;
    padding: 10px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 1;
    min-width: 300px;
}

.boxFormCities select {
    padding: 15px;
    font-size: 16px;
    line-height: 1.5;
    min-width: 300px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

/* Graph */

.highcharts-figure,
.highcharts-data-table table {
    min-width: 360px;
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #000000;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #000000;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

/* Box Dashboard */

.sensor-data {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.sensor-data h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #41B883;
}

.sensor-readings {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* flex-basis: 100%; */
}

.reading {
    flex: 1;
    flex-basis: calc(25% - 20px);
    /* background: rgb(229, 223, 223); */
    min-height: 150px;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.reading-info {
    display: flex;
    justify-content: stretch;
    align-items: center;
}

.reading-title {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.title{
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    margin-bottom: 5px;
    text-align: center;
    color: #8898AA;
}

.title-status{
    font-size: 21px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    margin-bottom: 5px;
    text-align: center;
    color: #8898AA;
    /* color: #FF5722; */
}

.title-value {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    color: #32325D;
}

/* loader */

#loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.content {
    text-align: center;
    font-size: 20px;
}